<p>
  admin-question-list works!
</p>
<p>
  <a routerLink="/admin/questions/new" class="btn btn-primary">New Question</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>

<!-- ngBootstrap has not template  for table : i wrote request-->

<table *ngIf="hasItems" class="table">
  <caption>List of questions</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" *ngFor="let q of questions;  let i = index">{{i+1}}</th>
      <td>{{q}}</td>
      <td>{{q}}</td>
      <td>{{q | json}}</td>

    </tr>

  </tbody>
</table>



<!-- <data-table [items]="questions" [itemCount]="itemCount" (reload)="reloadItems($event)">
  <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
  </data-table-column>

  <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{ item.price | currency:'USD':true }}
    </ng-template>
  </data-table-column>

  <data-table-column [property]="'$key'">
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/Questions/', item.$key]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table> -->
